<!-- template.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>

  <style>
    * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      font-size: 0.6875rem;
    }

    thead {
      height: 100px;
    }

    th {
      background-color: #a09f9f;
      font-size: 0.4875rem;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

    }

    .header img {
      height: 30px;
      margin-right: 20px;
      margin: 6px;

    }

    .date {
      margin-top: 20px;
      font-weight: bold;
    }

    .page-break {
      page-break-after: always;

      width: 100%;
    }

    .avatar {
      width: 30px;
      /* Ajuste a largura conforme necessário */
      height: 30px;
      /* Ajuste a altura conforme necessário */
      border-radius: 50%;
      /* Para fazer a imagem ficar circular */
      object-fit: cover;
      /* Para garantir que a imagem se encaixe corretamente dentro do contêiner */
    }

    .center-content {
      text-align: center;
      margin: 0 auto;
      width: 80%;
      /* Ajuste conforme necessário */
    }
  </style>
</head>

<body>
  <div class="header">

  </div>
  <div class=" header ">
    <div>
      <section class="center-content">
        <div>
          <img src="http://localhost:4000/public/metalica.png" alt="Metaloca logo">

        </div>
        <strong>Metalica oil services</strong> <br>
        <span>Construção civil e obras públicas</span>

      </section>
      <br>
      <h4 class="center-content">Lista de Clientes
      </H4>
      <br>

      <br>
      <br>


      <h4>TOTAL: <SPAN>
          <td>
            <%= data?.length %>
          </td>
        </SPAN></h4>

      <hr>
    </div>
    <table border="1">
      <thead>
        <tr>

          <th>Nº</th>

          <th>NOME</th>
          <th>Empresa</th>
          <th>NIF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ramo</th>
          <th>Site</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item,index)=> { %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>

            <td>
              <%= item.nome %>
            </td>
            <td>
              <%= item.nomeEmpresa %>
            </td>
            <td>
              <%= item.nif %>
            </td>
            <td>
              <%= item.email%>
            </td>
            <td>
              <%= item.telefone1%><br>
                <%= item.telefone2%>
            </td>
            <td>
              <%= item?.ramo %>
            </td>
            <td>
              <a href="<%= item?.site %>"></a>
            </td>
            <td>
              <%= new Date(item.createdAt||new Date()).toLocaleDateString() %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

  </div>

  </div>
  <footer style="margin-top: 40px;">
    Data: <%= new Date().toLocaleString() %>
      <div style="margin-top: 40px;">
        ****************************************** Processado pelo computador
        *******************************************
  </footer>
</body>

</html>