<!-- template.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAPA DE CONTROLO PDF</title>

  <style>
    * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      font-size: 0.6875rem;
    }

    thead {
      height: 100px;
    }

    th {
      background-color: #a09f9f;
      font-size: 0.4875rem;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

    }

    .header img {
      height: 30px;
      margin-right: 20px;
      margin: 6px;

    }

    .date {
      margin-top: 20px;
      font-weight: bold;
    }

    .page-break {
      page-break-after: always;

      width: 100%;
    }

    .avatar {
      width: 30px;
      /* Ajuste a largura conforme necessário */
      height: 30px;
      /* Ajuste a altura conforme necessário */
      border-radius: 50%;
      /* Para fazer a imagem ficar circular */
      object-fit: cover;
      /* Para garantir que a imagem se encaixe corretamente dentro do contêiner */
    }

    .center-content {
      text-align: center;
      margin: 0 auto;
      width: 80%;
      /* Ajuste conforme necessário */
    }
  </style>
</head>

<body>
  <div class="header">

  </div>
  <div class=" header ">
    <div>
      <section class="center-content">
        <div>
          <img src="http://localhost:4000/public/metalica.png" alt="Metaloca logo">

        </div>
        <strong>Metalica oil services</strong> <br>
        <span>Construção civil e obras públicas</span>

      </section>
      <br>
      <h4 class="center-content">MAPA DE CONTROLO DE VISTO DE <%= data[0].processo?.tipoVisto?.nome.toLocaleUpperCase()
          -%>
      </H4>
      <br>
      <Div class="center-content"> Referente ao mês de <strong>
          <%= new Date(data[0].processo.createdAt).toLocaleString('default', { month: 'long' }); -%>
        </strong>de <strong>
          <%= new Date(data[0].processo.createdAt).toLocaleString('default', { year: 'long' }); -%>
        </strong></Div>

      <br>
      <br>

      <section>

        <u> Projecto: <strong style="color:#1798e2;">
            <%= data[0].processo.projecto.nome -%>
          </strong>

          Cliente: <strong style="color:#1798e2;margin-left: 10px;">
            <%= data[0].processo.cliente?.nomeEmpresa -%>
          </strong>
        </u>

      </section>


      <hr>
    </div>
    <table border="1">
      <thead>
        <tr>

          <th>Nº</th>
          <th>COD.</th>
          <th>REQUERENTE</th>
          <th>DATA DE SOLICITAÇÃO</th>
          <th>NOME</th>
          <th>NAC.</th>
          <th>SEXO</th>
          <th>PASSAPORTE Nº</th>
          <th>MOB</th>
          <th>DAT.Recepção</th>
          <th>DAT.Envio</th>
          <th>Obs</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item,index)=> { %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= item.processo?.numero %>
            </td>
            <td>
              <%= item.processo.requerente %>
            </td>
            <td>
              <%= new Date(item.processo?.createdAt).toLocaleDateString() %>
            </td>
            <td>
              <%= item.processo.beneficiario?.nome %>
            </td>
            <td>
              <%= item.processo.nacionalidade %>
            </td>
            <td style="background-color: <%= index%2===0 ? 'yellow' : '#1798e2' %>">
              <%= item.processo.genero %>
            </td>
            <td>
              <%= item.processo.passaporteNumero %>
            </td>
            <td>
              <%= new Date(item.processo.mob||new Date()).toLocaleDateString() %>
            </td>
            <td>
              <%= new Date(item.processo.mob||new Date()).toLocaleDateString() %>
            </td>
            <td>
              <%= new Date(item.processo.mob||new Date()).toLocaleDateString() %>
            </td>
            <td style="background-color: <%= item?.descricao===undefined ? 'yellow' : 'white' %>">
              <%= item.descricao||"vazio" %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

  </div>

  </div>
  <footer style="margin-top: 40px;">
    Data: <%= new Date().toLocaleString() %>
      <div class="date">
        *********************************************** Processado pro computador
        ***************************************
  </footer>
</body>

</html>